# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Logs
logs/
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid

# Env files (на проде .env лучше не коммитить)
.env

# Others
*.swp
*.swo

